.title {
    position: relative;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom: 1px solid #ececec;
}

.title span {
    font-size: 14px;
    color: #6e6e6e;
}

.btn_bar {
    float: right;
}

.content {
    padding: 20px 20px;
    background: #fff;
}

.content span {
    float: left;
    font-size: 14px;
    padding: 10px 10px 5px 0px;
    color: #787878;
}

.content ul {
    text-indent: 1em;
}

.signup-switch-box {
    font-size: 12px;
}

.layui-form-onswitch:before {
    color: #fff;
}

.layui-form-onswitch {
    border-color: #1E9FFF;
    background-color: #1E9FFF;
}

.layui-form-switch {
    margin-right: 50px;
    float: left;
}

.signup-info-box {
    width: 100%;
    text-align: center;
    float: left;
}

.signup-question-box {
    border-bottom: 1px solid #e2e2e2;
    border-top: 1px solid #e2e2e2;
    padding-bottom: 20px;
}

.signup-info-box > span {
    float: left;
    font-size: 14px;
    color: #787878;
    margin-top: 40px;
    width: 6%;
}

.signup-info-box p {
    margin-bottom: 0px;
    color: #787878;
    font-size: 12px;
    margin-top: 10px;
}

#title, #tipsTitle {
    width: 280px;
}

.title_name {
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: #787878;
    margin: 20px;
}

.title_name span {
    padding-right: 0px;
}

.desc {
    width: 100%;
    text-align: left;
    font-size: 14px;
    color: #787878;
    margin-left: 20px;
    float: left;
}

.desc p {
    float: left;
    font-size: 14px;
    margin-top: 40px;
}

.desc span {
    margin-top: 72px;
}

#descInfo, #tipsInfo {
    width: 400px;
    height: 100px;
    max-height: 100px;
    max-width: 400px;
}

span.size-number {
    font-size: 12px;
    float: left;
    margin-left: 10px;
}

.input-text {
    float: left;
}

.signup-question-box {
    width: 100%;
    float: left;
}

.item-list {
    width: 100%;
    margin: 15px 0px;
    text-align: left;
}

.item-list li {
    float: left;
    margin-right: 15px;
}

.submit-area {
    width: 100%;
    float: left;
    padding-top: 20px;
    text-align: center;
}

.item-content {
    float: left;
    width: 1000px;
}

.item-content ul li {
    float: left;
    width: 85%;
}

.item-box {
    margin-top: 20px;
    width: 760px;
    padding: 4px 16px 4px 24px;
    border-radius: 4px;
    background-color: #f9f9f9;
    border: solid 1px #ececec;
    float: left;
}

.del-btn {
    margin-top: 33px;
    float: left;
}

.del-btn:active, .del-btn:hover {
    text-decoration: none;
}

.item-content input[type=checkbox], .item-content input[type=radio] {
    display: inline;
}

.item-name {
    width: 100px;
}

span.check-box {
    float: right;
}

span.check-box label {
    padding: 0px 10px;
}

.item-title {
    width: 190px;
}

.item-list span {
    font-size: 12px;
    padding: 0px;
    float: right;
    color: #000;
}

.choice-box ul {
    padding-left: 116px;
    /*width: 61%;*/
}

.choice-box ul li {
    width: 89%;
    padding-left: 10px;
}

.choice-box input[type=text] {
    width: 190px;
}

.choice-btn {
}

.choice-del-btn {
    margin-top: 13px;
    float: left;
}

.choice-del-btn:active, .choice-del-btn:hover {
    text-decoration: none;
}

.select-del-btn {
    margin-top: 13px;
    float: left;
}

.select-del-btn:active, .select-del-btn:hover {
    text-decoration: none;
}

#baner:hover {
    cursor: pointer;
    opacity: 0.9;
    color: #fff;
    background: rgba(0, 0, 0, 0.8);
}

#jd {
    padding: 5px;
    background: #dddddd;
    position: absolute;
    z-index: 1000;
    display: none;
    border-radius: 8px;
}

#jd canvas {
    float: left;
}

.font_count {
    padding-top: 5px;
    margin-bottom: 0px !important;
    float: left;
}

.simpleFormBtn {
    display: none;
}

/*#formtype {
    width:79px;
}*/
.formtypebox {
    float: left;
    margin-right: 50px;
    width: 90px;
    font-size: 14px;
}

/*是否开启手机验证提示语样式调整*/
.phoneli {
    position: relative !important;
    width: 120% !important;
}

.phonetip {
    position: absolute !important;
    padding: 0 !important;
    font-size: 12px !important;
    top: 26px !important;
    text-indent: 0 !important;
}

.jianjietip {
    font-size: 14px;
    color: grey;
    margin-top: 5px;
}

.d-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.d-flex-center {
    align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
}

.cover-img img {
    width: 360px;
    height: 170px;
}

.tips-img img {
    width: 120px;
    height: 120px;
}

.btn.size-S {
    margin: 10px 0;
}

.hidebox {
    display: none;
}

.shuru-tck {
    width: 80%;
    max-width: 300px;
    border-radius: 4px;
    background: #fff;
    margin: 40px auto 0px;
    padding: 5rem 2rem 2rem;
    box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 3px 0px 12px rgba(0, 0, 0, 0.1);
}

.shuru-tck p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1rem;
}

.tc-tc {
    padding: 0 0.9rem;
    height: 2.5rem;
    border: 1px solid #666;
    color: #333;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
    -moz-border-radius: .4rem;
    margin: 0 auto 1.2rem;
    font-size: 1.4rem;
    box-sizing: border-box;
}

.yzm {
    color: #00a8ff;
    font-size: 15px;
}

.tc-tc input {
    font-size: 14px;
    color: #333;
    border: 0;
}

.sure {
    background: #00a8ff;
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: .4rem;
    -webkit-border-radius: .4rem;
}

.xgg {
    font-size: 14px;
    margin-top: 10px;
    float: right;
}

.btn.size-S {
    margin: 10px 0;
}

.input-text.size-S, .btn.size-S {
    font-size: 12px;
    height: 27px;
}

.btn.disabled {
    cursor: not-allowed;
    background-image: none;
    opacity: .65;
    filter: alpha(opacity=65);
    box-shadow: none;
    pointer-events: none;
}

.btn {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    -moz-padding-start: npx;
    -moz-padding-end: npx;
    border: solid 1px #ddd;
    background-color: #fff;
    width: auto;
    *zoom: 1;
    *overflow: visible;
    -webkit-transition: background-color .1s linear;
    -moz-transition: background-color .1s linear;
    -o-transition: background-color .1s linear;
    transition: background-color .1s linear
}

.btn-primary {
    color: #fff;
    background-color: #5a98de;
    border-color: #5a98de
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    color: #fff;
    background-color: #0a6999;
    border-color: #0a6999
}
.btn-secondary {
    color: #fff !important;
    background-color: #3bb4f2 !important;
    border-color: #3bb4f2 !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    color: #fff;
    background-color: #3bb4f2 !important;
    border-color: #3bb4f2 !important;
}

.content {
    position: relative;
    font-size: 17px;
    line-height: 1.8;
    overflow: hidden;
    text-align: left;
    word-break: break-all;
    word-wrap: break-word;
}

.cover-img .input-group:nth-child(2) {
    display: none !important;
}

.tips-img .input-group:nth-child(1) {
    display: none !important;
}

.tips-img .input-group:nth-child(2) {
}

.signup-info-box img {
    cursor: pointer;
}

.col-xs-4 {
    float: left;
}

.col-xs-7 {
    float: left;
}
.fadeInRight {
    -webkit-animation-name: none;
    animation-name: none;
}
.Validform_error, input.error, select.error {
    background-color: #fbe2e2;
    border-color: #c66161;
    color: #c00;
}