/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.scrollbar::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}
/*定义滚动条的轨道，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-track{
    background-color: #424f63;
}
/*定义滑块，内阴影及圆角*/
.scrollbar::-webkit-scrollbar-thumb{
    background-color: #09C;
    background-clip: content-box;
    border-top: 5px solid rgba(255,255,255,0);
    border-bottom: 5px solid rgba(255,255,255,0);
    border-right: 4px solid rgba(255,255,255,0);
    background-color: rgba(0, 0, 0, 0);
}
.scrollbar:hover::-webkit-scrollbar-thumb{
	background-color: #09C;
}
/*搜索框中的表格样式*/
.search-table{padding:8px 10px;}
/*对话框中的表格样式*/
.dialog-table{margin: 12px;}
.dialog-table tr td{padding: 2px;}
.dialog-table tr td input{width: 296px;}
.dialog-table tr td select{width: 300px;}