* {
    padding: 0;
    margin: 0;
}

.iconfont {
    font-size: 14px;
    cursor: pointer;
}

.iconfont-text {
    color: #fff;
    font-size: 14px;
    margin-left: 5px;
    cursor: pointer;
}

.colorwhite {
    color: #fff;
}

#diywrapper {

}

/*/头部*/
#diyheader {
    height: 50px;
    line-height: 50px;
    background: #222430;
    display: flex;
    justify-content: space-between;
}

.left-btns {
    margin-left: 10px;
}

.right-btns {
    margin-right: 20px;
    display: flex;
}

.right-btns .btn-item {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-btns .btn-item .save-btn {
    background: #409eff;
    border: none;
    min-width: 80px;
    line-height: 21px;
    text-align: center;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 3px;
}

.right-btns .btn-item .save-btn .iconfont-text {
    margin-left: 2px;
}

/*/头部*/

#app-main {
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #f7f7f7;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.flex-justify-c {
    -webkit-box-pack: center;
    justify-content: center;
}

.flex-align-c {
    -webkit-box-align: center;
    align-items: center;
}

.flex-col {
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-warp {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-justify-b {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-grow-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

/*左侧工具栏*/
.left-tools {
    left: 0;
    width: 305px;
    overflow-y: scroll;
    position: fixed;
    top: 50px;
    bottom: 0;
    background: #fff;
    box-sizing: border-box;
    padding-right: 1px;
    padding-left: 1px;
}

.left-tools::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
    height: 6px;
}

.left-tools::-webkit-scrollbar-thumb {
    background: #999;
}

.left-tools .el-submenu__title {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-weight: 600;
    padding: 0 15px;
    background-color: #f3f3f3;
}

.left-tools .tool-icon {
    width: 30px;
    height: 30px;
    padding-top: 3px;
    opacity: .7;
    text-align: center;
    font-size: 25px;
}

.left-tools .tool-text {
    height: 21px;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.left-tools .el-menu-item-group > ul {
    flex-wrap: wrap;
    display: flex;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    padding-bottom: 1px;
}

.left-tools .el-menu-item-group > ul li:not(:nth-child(3n+0)) {
    border-right: 1px solid #f3f3f3;
}

.left-tools .el-menu-item-group > ul li {
    width: 33.33%;
    height: auto;
    line-height: auto;
    min-width: auto;
    padding: 15px 0 !important;
    border-bottom: 1px solid #f3f3f3;
    position: relative;
}

.left-tools .el-menu-item-group__title {
    display: none;
}

.left-tools .el-submenu .el-menu-item {
    line-height: 50px;
}

.left-tools .el-menu-item.is-active {
    color: #303133;
}

.left-tools .el-menu-item.is-active:hover {
    background: none;
}

.left-tools .el-menu-item:hover:after {
    content: "";
    width: 100%;
    height: 100%;
    border: 1px solid #409eff;
    position: absolute;
    top: 0;
    left: 0
}

/*/左侧工具栏*/

/*手机预览*/
.phone-box {
}

.phone-box .phone-content::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
    height: 6px;
}

.phone-box .phone-content::-webkit-scrollbar-thumb {
    background: #999;
}

.phone-box .phone-content {
    background: #f2f4f7;
    position: fixed;
    overflow-y: scroll;
    left: 305px;
    right: 360px;
    top: 50px;
    bottom: 0;
    padding-bottom: 50px;
}

.phone-box .phone-content::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
    height: 6px;
}

.phone-box .phone-content::-webkit-scrollbar-thumb {
    background: #999;
}

.phone-box .phone-content .phone {
    width: 375px;
    background: #fafafa;
    margin: 50px auto 0;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
}

.phone-box .phone-content .phone .noshow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    background-color: rgba(0, 0, 0, .2);
    background-size: 80px 25px;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: 3;
}

.phone-box .phone-content .phone *, .phone-box .phone-content .phone:after, .phone-box .phone-content .phone:before {
    box-sizing: border-box;
}

.phone-box .phone-content .phone .phone-inner {
    border: 1px solid #ddd;
    background: #fff;
    min-height: 760px;
}

.phone-box .phone-content .phone .line-hide {
    white-space: nowrap;
}

.phone-box .phone-content .phone .custorm--modelbox {
    position: relative;
}

.phone-box .phone-content .phone .line-hide, .phone-box .phone-content .phone .two-line-hide {
    overflow: hidden;
    text-overflow: ellipsis;
}

.custorm--modelbox.graphicpagetop-show .phone-top {
    width: 100%;
    height: 66px;
    line-height: 90px;
    text-align: center;
}

.phone-box .phone-content .phone .drag.active:before, .phone-box .phone-content .phone .drag:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px dashed #409eff;
    cursor: move;
    z-index: 50
}

.btn-edit-del {
    display: none;
}

.phone-box .phone-content .phone .drag.active .btn-edit-del, .phone-box .phone-content .phone .drag:hover .btn-edit-del {
    display: block;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    background: #409eff;
    border-radius: 0 0 0 100%;
}

.phone-box .phone-content .phone .drag.active .btn-edit-del .icon-close, .phone-box .phone-content .phone .drag:hover .btn-edit-del .icon-close {
    font-size: 16px;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: right;
    line-height: 1;
    color: #fff;
}

.img-center {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.phone-box .help-btn {
    position: fixed;
    width: 40px;
    height: auto;
    background: #535167;
    left: 49%;
    top: 40%;
    margin-left: 210px;
    border-radius: 20px;
    text-align: center;
    z-index: 2;
    overflow: hidden;
}

.phone-box .help-btn .el-button {
    background: #535167 !important;
    padding: 11px 7px;
    border: none;
    color: #fff;
    position: relative;
    font-size: 16px;
    text-align: center;
    margin-left: 0;
}

.phone-box .help-btn .el-button.disabled {
    color: rgb(153, 153, 153);
}

.phone-box .help-btn .el-button:after {
    content: "";
    position: absolute;
    width: 20px;
    height: 0;
    border-top: 1px solid #626077;
    bottom: 0;
    left: 10px;
}

/*/手机预览*/

/*右侧编辑区域*/
.right-box {
    width: 360px;
    overflow-y: scroll;
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    background: #fff;
    border-radius: 4px;
    padding: 0 10px;
}

.right-box::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
    height: 6px;
}

.right-box::-webkit-scrollbar-thumb {
    background: #999;
}

.right-nav {
    width: 100%;
    position: relative;
    padding: 10px 0;
}

.right-nav-title {
    color: #409eff;
    font-size: 15px;
    text-align: left;
    padding-left: 15px;
    position: relative;
    height: 28px;
    line-height: 28px;
}

.right-nav-title:after {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    bottom: 5px;
    width: 3px;
    background: #409eff;
    border-radius: 30%;
}

.edit-form-item {
    padding: 20px 23px;
    font-size: 12px;
    background: #f8f8fa;
    border-radius: 6px;
    margin-bottom: 10px;
}

.custorm--modelbox .form-label {
    line-height: 1;
    color: #47565d;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 14px;
}

.custorm--modelbox .stylebox {
    padding: 10px 20px;
    color: #999;
    white-space: nowrap;
}

.custorm--modelbox .el-radio__label {
    font-size: 12px;
}

.custorm--modelbox .el-color-picker--mini .el-color-picker__trigger {
    width: 56px;
}

.custorm--modelbox .ivu-color-picker .ivu-input {
    width: 56px;
    cursor: pointer;
    border-radius: 2px;
}

.custorm--modelbox span.ivu-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 26px;
    width: 56px;
    height: 26px;
    margin-left: 10px;
    background: #f1f1f1;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #dfdfdf;
    text-align: center;
}

.stylebox-label {
    margin-right: 13px;
    line-height: 38px;
}

.stylebox .ivu-input {
    margin-top: 5px;
}

.delete-child {
    position: absolute;
    top: -5px;
    right: -5px;
}

.custorm--modelbox .coupon-showslider {
    width: 56px;
    height: 26px;
    background: #f6f7f9;
    border-color: #f1f1f1;
    color: #666;
    border-radius: 2px;
    line-height: 26px;
    text-align: center;
    margin-left: 20px;
}

/*/右侧编辑区域*/

/*组件公用*/
.form-item .form-control {
    font-size: 12px;
}

.form-item .input-group-addon {
    font-size: 12px;
    padding: 9px 12px 4px 12px;
}

.block {
    display: block !important;
}

.form-item .inner .item {
    height: auto;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e7eaec;
    border-radius: 3px;
    overflow: hidden;
}

.form-item .inner .item .btn-del {
    height: 0;
    width: 100%;
    display: block;
    position: relative;
}

.form-item .inner .item .btn-del:before {
    content: "×";
    position: absolute;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    top: -6px;
    right: -6px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.form-item .inner .item .drag-btn {
    font-size: 14px;
    line-height: 68px;
    text-align: center;
    cursor: move;
    width: 70px;
    height: 70px;
    background: #eee;
    float: left;
    margin-right: 10px;
    border: 1px solid #e7eaec;
    position: relative;
}

.form-item .inner .item .item-form {
    height: auto;
    display: block;
    overflow: hidden;
}

.ellipsis {
    display: inline-block;
}

.ellipsis, .ellipsis_single {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custorm--modelbox .es-form-item {
    padding: 20px 23px;
    font-size: 12px;
    background: #f8f8fa;
    border-radius: 6px;
    margin-bottom: 10px;
}

.custorm--modelbox .es-form-item:last-child {
    border-bottom: 0;
}

.custorm--modelbox .es-form-item .item {
    background: #f6f7f9;
    padding: 10px 20px 10px 10px;
    border: 1px solid #eee;
    color: #999;
    position: relative;
    margin-bottom: 20px;
}

.custorm--modelbox .es-form-item .item.drag {
    cursor: move;
}

.custorm--modelbox .es-form-item .item-inner:first-of-type {
    margin-top: 0;
}

.custorm--modelbox .es-form-item .item-inner {
    margin-top: 8px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.custorm--modelbox .es-form-item .labeltext {
    width: 40px;
    text-align: right;
    padding-right: 8px;
    white-space: nowrap;
    color: #666;
}

.custorm--modelbox .es-form-item .item-inner input {
    font-size: 12px;
}

.select-link {
    cursor: pointer;
}

.custorm--modelbox .goodscol-add {
    border: 1px solid #6b7685;
    line-height: 32px;
    height: 32px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.custorm--modelbox .es-form-item .item .btn-del {
    height: 0;
    width: 100%;
    display: block;
    position: relative;
}

.custorm--modelbox .es-form-item .item .btn-del:before {
    content: "×";
    position: absolute;
    height: 16px;
    width: 16px;
    text-align: center;
    line-height: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    top: -6px;
    right: -6px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
}

.custorm--modelbox .ivu-alert {
    position: relative;
    padding: 8px 16px;
    border-radius: 6px;
    color: #666;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 20px;
    border: 1px solid #d8e8fc;
    background-color: #e5f0fe;
    display: block;
}

.noshowfill {
    padding: 15px 0;
    background: #fff;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.ajax-link {
    font-size: 12px;
}

.pad-no {
    padding: 0 !important;
}

.right-nav-list {
    height: 28px;
    line-height: 28px;
    background-color: #f2f2f3;
    border-radius: 14px;
    width: 180px;
}

.right-nav-item {
    font-size: 14px;
    cursor: pointer;
    width: 90px;
    border-radius: 14px;
    text-align: center;
    height: 28px;
    line-height: 28px;
}

.text-center {
    text-align: center !important;
}

.right-nav-item.active {
    color: #fff;
    background-color: #2589ff;
}

.wlm-form-dialog {
    min-width: auto;
    border-radius: 6px;
}

.wlm-form-dialog .el-dialog__body, .wlm-form-dialog .el-dialog__header {
    padding: 0;
}

.wlm-form-dialog .wlm-dialog-fixheader {
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 20px;
    line-height: 1;
}

.wlm-form-dialog .wlm-dialog-fixheader .wlm-dialog-inlenr {
    display: inline-block;
    width: auto;
    line-height: 28px;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wlm-form-dialog .wlm-dialog-main {
    padding: 16px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    max-height: 520px;
}

.wlm-form-dialog .wlm-dialog-main .el-scrollbar__wrap {
    overflow-x: hidden !important;
}

.drag-hotspots /deep/ .resizable .drag-content {
    color: #409eff;
    font-size: 12px;
    width: 100%;
    height: 100%;
    background: rgba(235, 239, 243, .2);
}

.drag-hotspots /deep/ .resizable {
    border: 2px dashed hsla(0, 0%, 83.9%, .4);
}

.drag-hotspots /deep/ .resizable .handle-br, .drag-hotspots /deep/ .resizable .handle-close {

}

.drag-hotspots /deep/ .resizable .handle-close {
    display: block !important;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #409eff;
    right: -2px;
    z-index: 1;
    top: -2px;
    width: 15px;
    height: 15px;
    line-height: 14px;
    color: #fff;
    border-radius: 0 0 0 100%;
    cursor: pointer;
}

.drag-hotspots /deep/ .resizable .handle-close .el-icon-close {
    zoom: .8;
    margin-left: 5px;
}

.wlm-form-dialog .wlm-dialog-fixfooter {
    border-top: 1px solid #f2f2f2;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    text-align: right;
}

.wlm-form-dialog .wlm-dialog-fixfooter {
    line-height: 50px;
    text-align: right;
}

.drag-hotspots /deep/ .resizable.active {
    border: 2px dashed #409eff;
    cursor: move;
}

.drag-hotspots /deep/ .resizable:hover {
    border: 2px dashed #409eff;
}

.drag-hotspots /deep/ .resizable.active .handle {
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #409eff;
    right: -2px;
    z-index: 1;
    bottom: -2px;
    width: 10px;
    height: 10px;
    cursor: se-resize;
}

.uploadSource, .uploadSourceAudio, .uploadSourceVideo {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: 1px dashed #ededed;
    text-align: center;
    color: #dad9d9;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
}

.img-center {
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

label {
    font-weight: 700;
}
.line-through{
    text-decoration: line-through;
}
/*end组件公用*/

/*公告*/
.custorm--modelbox.graphicnotice-show .es-notice {
    border-radius: 4px;
    height: 40px;
    line-height: 40px;
}

.custorm--modelbox.graphicnotice-show .es-notice.style1 img {
    height: 18px;
    width: 18px;
    display: inline-block !important;
    margin-right: 6px;
    vertical-align: middle;
}

.notice-tip {
    color: #ff4c48;
    width: 32px;
    height: 15px;
    border-radius: 20px;
    text-align: center;
    line-height: 14px;
    border: 1px solid #ff4947;
}

/*/公告*/

/*搜索框*/
.es-search {
    display: flex;
    background: #fff;
    height: 35px;
    line-height: 35px;
    margin: 12px;
    padding: 0 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.es-search .ivu-icon {
    display: inline-block;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
}

.es-search.round {
    border-radius: 17px;
}

.es-search.arc {
    border-radius: 4px;
}

.es-search.square {
}

.es-search.center {
    justify-content: center;
}

/*/搜索框*/

/*富文本*/
.es-richtext {
}

/*end富文本*/

/*导航按钮*/
.es-icon-group, .es-menu-group {
    padding-bottom: 18px;
    background: #fff;
    overflow: hidden;
}

.es-icon-group.col-3, .es-icon-group.col-4, .es-icon-group.col-5, .es-menu-group.col-3, .es-menu-group.col-4, .es-menu-group.col-5 {
    max-width: inherit;
    flex: 0;
}

.es-icon-group.col-3 .es-icon-col, .es-menu-group.col-3 .es-icon-col {
    width: 33.3%;
}

.es-icon-group.col-4 .es-icon-col, .es-menu-group.col-4 .es-icon-col {
    width: 25%;
}

.es-icon-group.col-5 .es-icon-col, .es-menu-group.col-5 .es-icon-col {
    width: 20%;
}

.es-icon-group .es-icon-col, .es-menu-group .es-icon-col {
    float: left;
    text-align: center;
    margin-top: 18px;
}

.es-menu-group .icon img {
    display: inline-block !important;
    height: 40px;
    width: 40px;
}

.es-menu-group.arc img {
    border-radius: 10px;
}

.es-menu-group.circle img {
    border-radius: 50%;
}

.es-menu-group .es-icon-col .text {
    margin-top: 4px;
    font-size: 10px;
    line-height: 1.5;
}

/*end导航按钮*/

/*列表导航*/
.custorm--modelbox.graphicnav_list-show {
    background: #f1f1f1;
}

.es-listmenu {
    padding: 0 6px;
    margin: 0 12px;
    border-bottom: 1px solid #ededed;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.es-listmenu .remark {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    margin-right: 20px;
}

.es-listmenu .text {
    flex: 1;
}

/*end导航按钮*/

/*图片轮播*/
.es-banner, .es-banner img {
    width: 100%;
    height: 100%;
}

.es-banner .dots {
    height: 14px;
    padding: 0 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

.es-banner .dots span {
    display: inline-block;
    height: 6px;
    width: 6px;
    border-radius: 10px;
    background: #ccc;
    margin: 0 4px;
}

.es-banner .dots span.active {
    background: #fff;
}

.es-banner.square .dots span {
    display: inline-block;
    height: 3px;
    width: 16px;
    border-radius: 0;
}

.es-banner.arc .dots span {
    height: 6px;
    width: 14px;
    border-radius: 6px;
}

.es-banner .dots span.arc2 {
    width: auto;
    height: 14px;
    line-height: 15px;
    color: #fff;
    padding: 0 4px;
}

/*end图片轮播*/

/*单列图片*/
.es-picture img {
    height: 200px;
    width: 100%;
    display: block;
}

/*end图片轮播*/

/*魔方*/
.fui-cube .fui-cube-item, .fui-cube .fui-cube-maker {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    overflow: hidden;
}

.square-container .layout ul {
    overflow: hidden;
    list-style: none;
    padding: 0;
}

.square-container .layout ul li {
    display: list-item;
}

.el-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 0;
}

.square-container .layout li {
    float: left;
    background: #ebf8fd;
    color: #88c4dc;
    border: 1px solid #bdf;
    cursor: pointer;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.square-container .layout li.custom-rubik-cube {
    width: 25%;
    height: 70px;
    border: 1px solid #e5e5e5;
    border-left: 0;
    border-bottom: 0;
    background: #f8f8f8;
}

.square-container .layout li.custom-rubik-cube.selected {
    background: #ebf8fd;
}

.square-container .layout li.custom-rubik-cube.selected > div {
    display: none;
}

.square-container .layout li.custom-rubik-cube:nth-child(4n+1) {
    border-left: 1px solid #e5e5e5;
}

.square-container .layout li.custom-rubik-cube > div {
    padding-top: 23px;
    font-size: 20px;
    color: #bbb;
}

.square-container .layout {
    clear: both;
    position: relative;
    width: 280px;
}

.square-container .layout li div {
    text-align: center;
}

.square-container .layout div.selected-rubik-cube {
    position: absolute;
    cursor: pointer;
    border: 1px solid #cbe3ec;
    background: #e8f7fd;
    text-align: center;
    color: #88c4dc;
    font-size: 12px;
}

.square-container .layout div.selected-rubik-cube.current {
    border: 1px solid #38f;
}

.square-container .layout div.selected-rubik-cube.current .el-icon-circle-close {
    display: none;
}

.square-container .layout div.selected-rubik-cube.current:hover .el-icon-circle-close {
    position: absolute;
    display: block;
    cursor: pointer;
    top: -11px;
    right: -11px;
    font-size: 21px;
    color: #bbb;
    z-index: 2
}

.es-form-item {
    font-size: 12px;
    background: #f8f8fa;
    border-radius: 6px;
    margin-bottom: 10px;
}

.es-form-item:last-child {
    border-bottom: 0;
}

.es-form-item .button-img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 36px;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px;
}

.es-form-item .button-img.block {
    width: 100%;
    position: relative;
    min-height: 32px;
    height: auto;
    text-align: left;
}

.es-form-item.cube .item-inner.block {
    width: 100%;
}

.es-form-item.cube {
    float: left;
}

.es-form-item .button-img.active {
    border-color: #fb6638 !important;
}

.es-form-item.cube .item-inner {
    width: 50%;
    float: left;
}

/*end魔方*/

/*辅助线*/
.es-line.solid {
    border-top: 1px solid #000;
}

.es-line.dotted {
    border-top: 1px dotted #000;
}

.es-line.dashed {
    border-top: 1px dashed #000;
}

/*end辅助线*/

/*标题栏*/
.es-title {
    margin: 12px;
    font-size: 16px;
    font-weight: 700;
}

.es-title.title2, .es-title.title12, .es-title.title13, .es-title {
    position: relative;
}

.button-img .es-title {
    margin: 0;
    line-height: 1.5;
    position: relative;
    font-size: 16px;
}

.es-title.title2 .sub-title {
    margin-left: 6px;
}

.es-title .sub-title, .es-title .title-more {
    font-size: 13px;
    color: #999;
    font-weight: 400;
}

.es-title.title2 .flex-row {
    align-items: baseline;
}

.es-form-item .button-img.block {
    width: 100%;
    position: relative;
    min-height: 32px;
    height: auto;
    text-align: left;
}

.es-form-item .button-img.active {
    border-color: #fb6638 !important;
}

.es-form-item .button-img {
    width: 32px;
    height: 32px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 36px;
    text-align: center;
    border: 1px solid transparent;
    padding: 10px;
}

.es-title.title3 .main-title span {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ffd940;
    border: 1px solid transparent;
    position: relative;
    margin: 0 10px;
}

.es-title.title3 .main-title span:after {
    content: " ";
    position: absolute;
    top: -2px;
    left: -2px;
    width: 5px;
    height: 5px;
    border: 1px solid #333;
    border-radius: 50%;
}

/*end标题栏*/

/*音频播放*/
.audio-item {
    margin: 15px 8px;
    padding: 8px;
    cursor: pointer;
    border-radius: 3px;
}

.es-audio {
    border: 1px solid #eee;
    padding: 0 15px 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    margin: 0 12px;
    overflow: hidden;
    background: #fff;
    line-height: 1.5;
}

.audio-item.active {
    border: 1px solid #409eff;
}

.es-audio.style1 {
    padding: 0;
    height: 60px;
}

.es-audio.style2 {
    height: 46px;
    padding: 0 12px;
}

.es-audio.style3 {
    border: none;
}

.es-audio.style4 {
    padding: 0;
    border: 0;
}

.es-audio.style1 i {
    width: 40px;
    height: 40px;
    margin: 9.5px 0 0 9.5px;
    max-width: 100%;
    max-height: 100%;
    font-size: 40px;
    color: #409eff;
}

.es-audio.style2 i {
    width: 25px;
    height: 25px;
    max-width: 100%;
    max-height: 100%;
    font-size: 25px;
    color: #409eff;
}

.es-audio.style1 .content {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    padding-left: 18px;
    color: #333;
    -webkit-box-flex: 1;
    flex: 1;
}

.es-audio.style2 .content {
    float: left;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 12px;
    font-size: 12px;
}

.es-audio.style1 .content .cap-slider {
    background-color: #f2f2f2;
    width: 90%;
}

.es-audio.style1 .content .cap-slider .cap-slider__bar {
    position: relative;
    margin: 0 8px 0 0;
    height: 2px;
    border-radius: 0;
    background-color: #f2f2f2;
}

.es-audio.style1 .content .cap-slider .cap-slider__bar .cap-slider__pivot {
    position: absolute;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}

.es-audio.style1 .content .cap-slider .cap-slider__bar .cap-slider__pivot:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background: #409eff;
}

.es-audio.style3 .img {
    float: left;
    margin-right: 10px;
    width: 48px;
    height: 48px;
}

.es-audio.style4 .img {
    float: right;
    margin-left: 10px;
    width: 48px;
    height: 48px;
}

.es-audio .img img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.es-audio.style3 .audio1 {
    width: 136px;
    display: block;
}

.es-audio.style4 .audio2 {
    width: 136px;
    display: block;
    float: right;
}

/*end音频播放*/
/*视频播放*/
.es-video-box {
    overflow: hidden;
}

.es-video {
    height: 211px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.es-video.style2 {
    height: 281px;
}

.es-video.style3 {
    height: 375px;
}

.es-video-box .after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60px;
    z-index: 2;
}

/*end视频播放*/

/*浮动按钮*/
.drag.floatbtnPosition {
    position: absolute !important;
    right: 10px;
    bottom: 50px;
    z-index: 1204;
}

.es-float {
    position: static;
    right: 20px;
    bottom: 50px;
    z-index: 11;
}

.es-float.hideshadow .layer {
    box-shadow: none;
}

.es-float.circle .layer {
    border-radius: 45px;
}

.es-float.circle .layer {
    border-radius: 45px;
}

.es-float .layer:first-of-type {
    margin-top: 0;
}

.es-float .layer .img-icon {
    width: 100%;
    height: 50px;
    border-radius: 50px;
}

.es-float .layer .text {
    font-size: 10px;
    color: #333;
    line-height: 1;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

/*end浮动按钮*/

/* 2020-4-3添加 */
/* 新版搜索框 */
.day_newSearch{
    background: #f7f7f7;
    color: #bbb;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    text-align: left;
    padding: 0 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 0 15px;
}
/* 新版导航 */
.day_new_goods_category_box{
    display: flex;
    align-items: center;
    background: #fff;
    line-height: 45px;
}
.day_new_goods_category_box>.day_new_goods_more{
    width: 35px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -1px 0px 3px #f1f1f1;
}
.day_new_goods_category{
    width: calc(100% - 35px);
    height: 100%;
    white-space: nowrap;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}
.day_new_goods_category>.item{
    width: 75px;
    height: 100%;
    display: inline-block;
    font-weight: 700;
    color: #333;
    font-size: 14px;
}
.day_new_goods_category>.active{
    font-size: 18px !important;
    font-weight: 700;
    position: relative;
    color: #fe4564;
}
.day_new_goods_category>.active::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #fe4564;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* 新版瀑布流 */
.day_water_flow{
    column-gap: 10px;
    column-count: 2;
    margin: 0 15px;
}
.day_water_flow>.item{
    margin-bottom: 10px;
    height: 100%;
    overflow: auto;
}
.day_water_flow>.item>img{
    width: 100%;
}
/* 新版列表风格1 */
.day_goods_list1>.title{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;
}
.day_goods_list1>.title>.name{
    font-size: 18px;
    color: #333;
    font-weight: 700;
}
.day_goods_list1>.title>.name>span{
    font-size: 10px;
    color: #999;
    font-weight: 500;
}
.day_goods_list1>.title>.more{
    margin-left: auto;
    margin-left: auto;
    font-size: 13px;
    color: #999;
    display: flex;
}
.day_goods_list1>.scroll{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.day_goods_list1>.scroll>.item{
    display: inline-block;
    margin-left: 15px;
    position: relative;
}
.day_goods_list1>.scroll>.item>.zhibo{
    font-size: 10px;
    color: #fff;
    padding: 0 13px 0 5px;
    height: 20px;
    background: rgba(51, 51, 51, 0.4);
    line-height: 20px;
    text-align: center;
    border-radius: 3px 0 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    -webkit-border-radius: 3px 0 15px 0;
    -moz-border-radius: 3px 0 15px 0;
    -ms-border-radius: 3px 0 15px 0;
    -o-border-radius: 3px 0 15px 0;
}
.day_goods_list1>.scroll>.item>.miaosha{
    font-size: 10px;
    color: #fff;
    padding: 0 10px 0 10px;
    height: 20px;
    background: #fe4564;
    line-height: 20px;
    text-align: center;
    border-radius: 0 3px 0 15px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9;
    -webkit-border-radius: 0 3px 0 15px;
    -moz-border-radius: 0 3px 0 15px;
    -ms-border-radius: 0 3px 0 15px;
    -o-border-radius: 0 3px 0 15px;
}
.day_goods_list1>.scroll>.item>img{
    width: 130px;
    height: 130px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.day_goods_list1>.scroll>.item>.name{
    font-size: 13px;
    color: #333;
    font-weight: 600;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 130px;
    line-height: 1.2;
    margin: 10px 0 4px 0;
    text-align: center;

}
/* 风格2 */
.day_goods_list2>.title{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;
}
.day_goods_list2>.title>.name{
    font-size: 18px;
    color: #333;
    font-weight: 700;
}
.day_goods_list2>.title>.name>span{
    font-size: 10px;
    color: #999;
    font-weight: 500;
}
.day_goods_list2>.title>.more{
    margin-left: auto;
    margin-left: auto;
    font-size: 13px;
    color: #999;
    display: flex;
}
.day_goods_list2>.scroll{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.day_goods_list2>.scroll>.item{
    display: inline-block;
    margin-left: 15px;
    position: relative;
}
.day_goods_list2>.scroll>.item>img{
    width: 280px;
    height: 150px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
/* 风格3 */
.day_goods_list3.title{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;
}
.day_goods_list3>.title>.name{
    font-size: 18px;
    color: #333;
    font-weight: 700;
}
.day_goods_list3>.title>.tip{
    font-size: 10px;
    color: #999;
    font-weight: 500;
}
.day_goods_list3>.banner{
    padding: 0 15px;
}
.day_goods_list3>.banner>img{
    margin-bottom: 15px;
    width: 100%;
    height: 190px;
}
.day_goods_list3>.scroll{
    display: flex;
    align-items: center;
    overflow: hidden;
}
.day_goods_list3>.scroll>.item{
    display: inline-block;
    margin-left: 15px;
    position: relative;
}
.day_goods_list3>.scroll>.item>img{
    width: 130px;
    height: 130px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.day_goods_list3>.scroll>.item>.name{
    font-size: 14px;
    color: #333;
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 130px;
    line-height: 1.2;
    margin: 10px 0 4px 0;
}
.day_goods_list3>.scroll>.item>.money{
    font-size: 14px;
    color: #e53530;
    font-weight: 700;

}
/* 风格4 */
.day_goods_list4{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;
}
.day_goods_list4>.content-list{
    flex: 0 0 50%;
    margin-bottom: 15px;
    overflow: hidden;
}
.day_goods_list4>.content-list>.list-images{
    padding: 0 5px;
    position: relative;
}
.day_goods_list4>.content-list>.list-images>img{
    width: 100%;
    height: 165px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.day_goods_list4>.content-list>.list-text{
    padding: 10px 5px 0 10px;
    text-align: center;

}
.day_goods_list4>.content-list>.list-text>.text{
    font-size: 13px;
    font-weight: 700;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.day_goods_list4>.content-list>.list-text>.tip{
    font-size: 12px;
    color: #999999;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin: 5px 0;
    
}
.day_goods_list4>.content-list>.list-text>.money{
    font-size: 18px;
    font-weight: 700;
    color: #e53530;
}
.newindex_goods_list4-show .title{
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 0 10px;
    margin-bottom: 10px;
}